@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/400-italic.css';
@import '@fontsource/montserrat/700.css';

@import 'tailwindcss';

@import 'tw-animate-css';

:root {
	--white: oklch(1 0 0);
	--black: oklch(0 0 0);

	/* much lighter version of grey-2 */
	--grey-0: oklch(0.9822 0 0);

	/* lighter version of grey-2 */
	--grey-1: oklch(0.9422 0 0);

	/* MLI palette light grey */
	--grey-2: oklch(0.8822 0 0);

	/* darker version of grey-2 */
	--grey-8: oklch(0.522 0 0);

	/* much darker version of grey-2 */
	--grey-9: oklch(0.3622 0 0);

	/* MLI palette light blue */
	--blue-2: oklch(0.9023 0.0371 238.11);

	/* MLI palette mid blue */
	--blue-8: oklch(0.6301 0.1163 243.73);

	/* MLI palette dark blue */
	--blue-9: oklch(0.3979 0.0744 243.53);

	/* MLI palette light green */
	--green-2: oklch(0.8176 0.1203 120.16);

	/* MLI palette mid green */
	--green-8: oklch(0.7016 0.1415 121.66);

	/* adapted from theme-ui, converted using https://oklch.com/ */
	--background: var(--white);
	--foreground: oklch(0.3211 0 0);
	--muted-foreground: var(--grey-9);

	--primary: var(--blue-8);
	--secondary: var(--green-8);

	--primary-foreground: var(--white);
	--accent: oklch(0.7517 0.1538 58.44);
	--error: oklch(0.5825 0.1839 38.82);
	--ok: var(--green-8);

	--link: var(--blue-8);

	--radius: 0.5rem;
}

@theme inline {
	/* disable all default colors */
	--color-*: initial;

	/* corresponding color settings for above theme-ui colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-accent: var(--accent);
	--color-link: var(--link);
	--color-error: var(--error);
	--color-ok: var(--ok);

	--color-border: var(--primary);
	--color-ring: var(--primary);

	--color-muted-foreground: var(--muted-foreground);

	--color-grey-0: var(--grey-0);
	--color-grey-1: var(--grey-1);
	--color-grey-2: var(--grey-2);
	--color-grey-8: var(--grey-8);
	--color-grey-9: var(--grey-9);

	--color-blue-2: var(--blue-2);
	--color-blue-8: var(--blue-8);
	--color-blue-9: var(--blue-9);

	--color-white: var(--white);
	--color-black: var(--black);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--white);
	--color-destructive: var(--error);

	--color-input: var(--grey-9);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	body {
		@apply bg-background text-foreground;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: 900;
	}

	a {
		@apply text-link visited:text-link;
		@apply underline;
	}

	hr {
		@apply my-12 border-grey-2;
	}

	.mapboxgl-ctrl-zoom-in,
	.mapboxgl-ctrl-zoom-out,
	.mapboxgl-ctrl-compass,
	.mapboxgl-ctrl-logo,
	.mapboxgl-ctrl-attrib {
		@apply !hidden md:!block;
	}

	.mapboxgl-ctrl-attrib.mapboxgl-compact {
		@apply !min-h-[24px];
	}

	.mapboxgl-ctrl-top-right {
		@apply !top-[50px];
	}
}

@utility container {
	max-width: 960px;
	margin-inline: auto;
	@apply px-2 md:px-0;
}
